.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #000000;
  z-index: 1;
  transition: all 0.3s ease; /* Анимация для плавного открытия/закрытия */
}

.popup.open {
  display: block;
}

.popupContent {
  text-align: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000000;
}
