/* .text {
  background-color: aqua;
} */
.wrap {
  background-color: rgb(224, 224, 224);
  /* margin-bottom: 100px; */
  padding-bottom: 100px;
}
.hr {
  color: black;
  height: 3px;
}
.footer {
  display: flex;
  justify-content: space-around;
}
line {
  color: black;
}
.link {
  text-decoration: none;
  color: black;
}
.link :hover {
  color: orange;
}
