/* .text {
  background-color: aqua;
} */
.header {
  background-color: rgb(119, 119, 118);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img {
  width: 200px;
}
.link {
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
