.wrapMapPhoto {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.wrapMapPhoto img {
  width: 260px;
  height: 170px;
  border-radius: 30px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}

/* .image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
} */

/* .wrapMapPhoto .hover :hover {
  transform: scale(
    1.2
  ); /* Измените значение на ваш выбор для желаемого увеличения */
/* } */
