.clubsPage {
  /* height: 700px;Ы */
  /* background-color: rgb(183, 236, 225); */
}
.gyms {
  margin-left: auto;
  margin-right: auto;
  width: 1460px;
  padding: 20px;
  /* background-color: rgb(78, 50, 205); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* flex-wrap: wrap; */
}
.oneGym {
  text-decoration: none;
  width: 300px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  border: 2px solid rgb(0, 0, 0, 0);
  border-radius: 50px;
}
.peopleName {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
.address {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}
.oneGym img {
  width: 100%;
  height: 200px;
  border-radius: 30px;
}
.oneGym :hover img {
  /* width: 100px; */
  /* background-color: gray; */
  border: 6px solid orange;
  /* transition: calc(1.3) ease; */
}
