.coaches {
  display: flex;
  flex-direction: column;
  margin: 50px;
  /* background-color: firebrick; */
}

.coachesText {
  text-align: start;
  font-size: 50px;
  font-weight: 700;
}
.nameServiceTheme {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
}
.wrapDataCoaches {
  display: flex;
  flex-wrap: wrap;
}
.wrapOneCoach {
  /* background-color: wheat; */
  width: 270px;
  margin: 30px;
}
.wrapOneCoach img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 270px;
  border-radius: 30px;
}
.text {
  /* width: 300px; */
  height: 40px;
  font-size: 20px;
  font-weight: 500;
}
.description {
  text-align: start;
  font-size: 10px;
}
