.coaches {
  display: flex;
  flex-direction: column;
  margin: 50px;
  /* background-color: firebrick; */
}

.coachesText {
  text-align: start;
  font-size: 50px;
  font-weight: 700;
}
.nameServiceTheme {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
}
.wrapDataCoaches {
  display: flex;
  flex-wrap: wrap;
}
.wrapOneCoach {
  margin: 30px;
}
.text {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
}
