@font-face {
  font-family: "GreatVibes";
  src: url(./Fonts/Great_Vibes/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: "OleoScript";
  src: url(./Fonts/Oleo_Script/OleoScript-Bold.ttf);
}

@font-face {
  font-family: "Silkscreen";
  src: url(./Fonts/Silkscreen/Silkscreen-Bold.ttf);
}
@font-face {
  font-family: "KaushanScript";
  src: url(./Fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

.App {
  text-align: center;
  background-color: rgb(235, 235, 235);
  /* width: 100%; */
  /* background-color: rgb(217, 218, 217); */
  /* padding: 50px; */
}
